@import url('https://fonts.googleapis.com/css?family=Ubuntu:700i&display=swap');

/* inicio menu naveção css*/
.menu-navegacao{
	background: #FF1493;
}
.menu-navegacao .navbar-light .nav-link{
	font-size: 15pt;
}
.menu-navegacao .navbar-light .nav-link:hover{
	background: pink;
	border-radius: 15px;
}
/* fim menu nevegação css */

/* inicio rodape css */
.rodape{
	background: #FF1493;
}
.rodape .h1-rodape{
	text-align: center;
	color: #ffffff;
}
.rodape .list-group .list-group-item{
	background: #FF1493;
	text-align: center;
}
.rodape .p-rodape{
	font-size: 20px;
}
/* fim do rodape css */

/* inicio do index css */

.index .container{
	background: #FFF0F5;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.index .container h1{
	font-size: 50px;
	color: #FF1493;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	border-bottom: 1px solid #D3D3D3;
	padding: 15px;
}
.index .container p{
	text-indent: 4em;
}
.index .container a{
	text-decoration: none;
	color: #1C1C1C;
}
.index .container a:hover{
	text-decoration: underline;
}
.index .container h2{
	font-family: 'Ubuntu', sans-serif; 
	text-align: center;
}
.index .container h3{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
.index .container .index-image{
	border: 1px solid #C0C0C0;
	padding: 20px;
}
/* Fim index css */